body{
    font-size: 1.5rem;
    background-color: lightsteelblue;
}

.row{
    padding-top: .9375rem;
}

.list-wrapper{
    background-color: lightgray;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.list-wrapper :last-child{
    margin-bottom: 0;
}

.card{
    background-color: white;
}

.list-header{
    padding: 0.25rem;
    margin-bottom: 0.75rem;
}

.label-cell{
    display: table-cell;
    border-radius: 0.25rem;
}

.label-list{
    display: table;
    height: 0.75rem;
    width: 100%;
    padding: 0.125rem;
    margin-bottom: 0.375rem;
}
